.navbar{
    background: #a9001b;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    width: 100px;
    height: auto;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: whitesmoke;
    font-size: 16px;
    color: black;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3;
}
.navbar button:hover{
    background: yellow;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.navbar li{
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: orange;
    border-radius: 5px;
    top: -8px;
    right: -8px;

}